gradio==6.10.0
spaces>=0.30
huggingface_hub>=0.27
transformers==4.49.0
# diffusers==0.32.2
diffusers
accelerate>=1.0
safetensors>=0.4
einops>=0.8
loguru
ftfy
regex
imageio
imageio-ffmpeg
opencv-python-headless
Pillow
scipy
scikit-image
soundfile
librosa
pyloudnorm
onnx==1.22.0
onnxruntime==1.27.0
xformers
numpy
